
body {
    background-image:url("https://hdwallsource.com/img/2014/9/simple-wallpaper-27245-27962-hd-wallpapers.jpg");
    background-size: 1300px 700px;
    background-repeat: no-repeat;
    margin: 175px;
}

.alert-success {
    max-width: auto;
    background: white;
    padding: 10px;
}

.text-center{
    color: antiquewhite;
    font-size: 30px;
    font-family: "Verdana", Times, serif;
    font-weight: bolder;
}

.dropdown{
    padding: 20px;
    width: auto;
}

.dropdown-menu{
    padding: 20px;
}